body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: #fff;
}

.index1 {
  text-align: center;
}

.index2 {
  text-align: left;
  padding-left: 0;
}

.index2 li {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
